@font-face {
    font-family: "Bodoni";
    src: url("../fonts/Bodoni\ 72.ttc");
}



body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: "Bodoni";
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
 }

 /* Page d'accueil */
#landing-page {
    background-image: url("../image/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

#parallax-title {
    height: 90vh;
    justify-content: center;
    align-items: center;
}

/* Barre de navigation */
.navbar {
    height: 10vh;
}

.navbar-nav {
    width: 100%;
}

/* Titre principal */
.title {
    font-size: 10em;
}

/* À propos de moi */

#aboutme {
    height: auto;
    background-color: #040A10;
    padding-bottom: 5%;

}


.aboutme-title {
    font-size: 3em;
    text-align: center;
    position: relative;
}

.aboutme-title::before {
    content : "";
    width: 50%;
    height: 1px;
    background-color: white;

    position: absolute;
    bottom: -20%;
    left: 25%;

}

.moi {
    width: 75%;
}

#aboutme-content p {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding:5% 20%;

    font-size: 1.5em;
}

#competence {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
}

#competence i {

}

.html, .css, .js {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.html i {
    color: orange;
}

.css i {
    color: #49C0F5;
}

.js i {
    color: yellow;
}

/* Réseaux sociaux */

.social-link {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}

.github {
    background-color: #454658;
    border-radius: 3px;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 5px 30px;
    margin-right: 10%;
}

.linkedin {
    background-color: #6578c0;
    border-radius: 3px;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 5px 30px;
}

/* Parallax 2 */

#parallax2 {
    background-image: url("../image/bg2.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;   
}

#project {
    background-color: #040A10;
    height: auto;
}

/* Projets */

#project-button {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}

#project-button button {
    border: none;
    margin-right: 2%;
    width: 100px;
}

#project-button #html {
    background: #FFAF48;
}

#project-button #css {
    background: #49C0F5;
}

#project-button #js {
    background: #FEEE1C;
}

.card {
    height: 35vh;
}

@media only screen and (max-width : 1000px) {

    .moi {
        width: 30%;
    }

    #img-moi {
        text-align: center;
    }

}


@media only screen and (max-width : 900px) {

    .title {
        font-size: 8em;
    }

}

@media only screen and (max-width : 700px) {

    .title {
        font-size: 6em;
    }

}
@media only screen and (max-width : 550px) {

    .title {
        font-size: 4em;
    }

    .social-link {
        display: flex;
        flex-direction: column;
    }

    .github {
        margin-right: 0;
        margin-bottom: 2%;
    }

}

@media only screen and (max-width : 350px) {

    .title {
        font-size: 3em;
    }

}